@model Clothing

@{
    ViewData["Title"] = "Add New Clothing Product";
}

<h1>Add New Clothing</h1>

<form method="post">
    <div class="container">
        <div class="row">
            <label asp-for="Size" class="col-2"></label>
            <input asp-for="Size" class="col-2"/>
            <span asp-validation-for="Size" class="col-2"></span>
        </div>

        <div class="row">
            <label asp-for="Type" class="col-2"></label>
            <input asp-for="Type" class="col-2"/>
            <span asp-validation-for="Type" class="col-2"></span>
            <br />
        </div>

        <div class="row">
            <label asp-for="Color" class="col-2"></label>
            <input asp-for="Color" class="col-2" />
            <span asp-validation-for="Color" class="col-2"></span>
        </div>

        <div class="row">
            <label asp-for="Price" class="col-2"></label>
            <input asp-for="Price" class="col-2" />
            <span asp-validation-for="Price" class="col-2"></span>
        </div>

        <div class="row">
            <label asp-for="Title" class="col-2"></label>
            <input asp-for="Title" class="col-2" />
            <span asp-validation-for="Title" class="col-2"></span>
        </div>

        <div class="row">
            <label asp-for="Description" class="col-2"></label>
            <input asp-for="Description" class="col-2" />
            <span asp-validation-for="Description" class="col-2"></span>
        </div>

        <input type="submit" value="Add Clothing" class="btn btn-primary"/>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

    @* Partial view above auto generates these two
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    *@
}