@{
    ViewData["Title"] = "Welcome to Tiny Clothes";
}

<h1>Tiny Clothes</h1>
<p>Tiny Clothes for Tiny Things but not babies.</p>

<div class="card" style="width: 18rem;">
    <img src="~/images/DogWithGlasses.jpg" class="card-img-top" alt="Dog wearing swimming goggles"/>
    <div class="card-body">
        <h5 class="card-title">Our Products: </h5>
        <p class="card-text">We sell tiny clothes for your pets and stuffed animals. These are not baby clothes!</p>
    </div>
</div>

<p>
    We do not accept returns or give refunds at this time.
    We do not guarantee your baby will/won't be allergic to our clothes.
</p>