@{
    ViewData["Title"] = "Welcome to Tiny Clothes";
}

<h1>Tiny Clothes</h1>
    </div>
<p>Tiny Clothes for Tiny Things but not babies.</p>

<div class="alert alert-primary" role="alert">
    Check out our <a asp-controller="Clothes" asp-action="ShowAll" class="alert-link">Inventory</a>.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<div class="card" style="width: 18rem;">
    <img src="~/images/DogWithGlasses.jpg" class="card-img-top" alt="Dog wearing swimming goggles" />
    <div class="card-body">
        <h5 class="card-title">Our Products: </h5>
        <p class="card-text">We sell tiny clothes for your pets and stuffed animals. These are not baby clothes!</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Clothes For Babies</li>
        <li class="list-group-item">Clothes For Pets</li>
    </ul>
    <div class="card-body">
        <a class="card-link" asp-controller="Clothes" asp-action="ShowAll">Inventory</a>
        <a class="card-link" asp-controller="Clothes" asp-action="Add">Add Clothes</a>
    </div>
</div>

<p>
    We do not accept returns or give refunds at this time.
    We do not guarantee your baby will/won't be allergic to our clothes.
</p>